<div class="layout-container">
  <app-sidebar></app-sidebar>
  <div class="main-area">
    <app-header></app-header>
    <div class="main-content">
      <div class="content">
        <router-outlet></router-outlet>

      </div>
    </div>
    <footer class="footer">
        <p class="footer-line">© 2025 Sutour Solutions - سُطور | Portfolio Dashboard</p>
        <p class="footer-line">Diaa Mohamed</p>
        <p class="footer-line">CEO & Founder Sutour Solutions - سُطور</p>
    </footer>

  </div>
</div>
