<div class="article-list-container">
    <h2>Articles Management</h2>
  
    <button mat-raised-button color="primary" (click)="createArticle()">
      <mat-icon>add</mat-icon> Create New
    </button>
  
    <mat-progress-spinner *ngIf="loading" diameter="40"></mat-progress-spinner>
  
    <table mat-table [dataSource]="articles" class="mat-elevation-z8" *ngIf="!loading">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let article">{{ article.title }}</td>
      </ng-container>
  
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let article">{{article.author || 'Unknown'}}</td>
      </ng-container>
      <ng-container matColumnDef="thumbImage">
        <th mat-header-cell *matHeaderCellDef>Thumb Image</th>
        <td mat-cell *matCellDef="let article">
          <img [src]="article.thumbImage ? iamgesProd + article.thumbImage : '/defualt-article.png'" alt="Article Thumb" width="100" />
<!--      <img [src]="article.thumbImage ? iamgesDev + article.thumbImage : '/defualt-article.png'" alt="Article Thumb" width="100" />
 -->        </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="date" >Date</th>
        <td mat-cell *matCellDef="let article" class="date">{{ article.date | date }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let article">
          <button mat-icon-button color="primary" (click)="editArticle(article.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent"  [routerLink]="['/dashboard/articles', article.id]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteArticle(article.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!--add pagination pages next and previous-->
  <div class="pagination" *ngIf="!loading && articles.length > 0">
    <button mat-button 
            (click)="loadArticles(currentPage - 1)" 
            [disabled]="currentPage <= 1">
      <mat-icon>chevron_left</mat-icon> Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button mat-button 
            (click)="loadArticles(currentPage + 1)" 
            [disabled]="currentPage >= totalPages">
      Next <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  